Day2/.vs/
Day2/Day2/Debug/
Day2_AliaseAndtypedef/Debug/
Day3/Debug/
Day3/.vs/
Day3/Day3/Debug/
Day3_constexpr/Debug/
Day3_union/.vs/
Day3_union/Day3_union/Debug/
Day3_union/Debug/
Day4_Overload/.vs/
Day4_Overload/Day4_Overload/Debug/
Day4_socket/.vs/
Day4_temple/.vs/
Day4_temple/Day4_temple/Debug/
Day4_temple/Debug/
Day4_socket/Day4_socket/Debug/
Day2_AliaseAndtypedef/.vs/
Day2_AliaseAndtypedef/Day2_AliaseAndtypedef/Debug/
Day3_constexpr/Day3_constexpr/Debug/
Day3_constexpr/.vs/
Day4_Overload/Debug/
